<%- include("./partials/header") %>

<nav class="navbar navbar-default" id="n">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Secret Crush</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                                      <li></li>
                                      <li><a href="/index">App</a></li>
                                    <li><a href="/logout">LogOut</a></li>
                
                                   
                                    
           

                  
                    
                    
                </ul>
            </div>
        </div>
    </nav>
   <div class="container-fluid">
                
                <div class="jumbotron">
  <h1 class="display-4">Secret Crush</h1>
  <p class="lead">This is a simple app, designed to find if your crush likes you too.</p>
  <hr class="my-4">
  <p>Log in with your Facebook credentials and like the person you have a crush on. It won't be notified to that person untill he/she likes you back. Note: Only your friends who also use this app will be listed as per facebook's policy !</p>
  <a class="btn btn-primary btn-lg" href="https://vignesh-ravichandran.github.io/Portfolio/" target="_blank" role="button">Developed by Vignesh Ravichandran</a>
</div>

              </div>

<%- include("./partials/footer") %>