<!DOCTYPE html>
<html>
    <head>
        <title>Secret Crush</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
       
    </head>
    <body>



      <div class="container text-center">
        <h1 class="display-4 si">Secret Crush</h1>
<p class="lead si">This is a simple app, designed to find if your crush likes you too.</p>
 <hr class="my-4">
  <p>Log in with your Facebook credentials and like the person you have a crush on. It won't be notified to that person untill he likes you back. Note: Only your friends who also use this app will be listed as per facebook's policy !</p>

<h1 classs="si">Don't just keep it to yourself</h1>
<a href="/login/facebook" class="btn btn-lg btn-success si">Login</a>
    
     <h3 class="si"><%=count%> users signed up!</h3>
     <a class="btn btn-primary btn-lg si" href="https://vignesh-ravichandran.github.io/Portfolio/" target="_blank" role="button">Developed by Vignesh Ravichandran</a>

      </div>
    
    
   
    

<%- include("./partials/footer") %>
    
  